name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: yarn

      - name: Run ESLint
        run: yarn lint

      - name: Build project
        env:
          VITE_APP_TITLE: ${{ vars.VITE_APP_TITLE }}
          VITE_APP_API_KEY: ${{ secrets.VITE_APP_API_KEY }}
          VITE_APP_AUTH_DOMAIN: ${{ secrets.VITE_APP_AUTH_DOMAIN }}
          VITE_APP_PROJECT_ID: ${{ secrets.VITE_APP_PROJECT_ID }}
          VITE_APP_STORAGE_BUCKER: ${{ secrets.VITE_APP_STORAGE_BUCKER }}
          VITE_APP_MESSAGING_SENDER_ID: ${{ secrets.VITE_APP_MESSAGING_SENDER_ID }}
          VITE_APP_APP_ID: ${{ secrets.VITE_APP_APP_ID }}
          VITE_APP_MEASUREMENT_ID: ${{ secrets.VITE_APP_MEASUREMENT_ID }}
          VITE_APP_DATABASE_URL: ${{ secrets.VITE_APP_DATABASE_URL }}
        run: yarn build

      - name: Deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_SCHOOLSYNC_F5081 }}
          channelId: live
          projectId: schoolsync-f5081
